@import "reset.css";
@import "one-property";

$main_color: #2a2a2e;
$background: #E5E5E5;

body{
	font-family: 'Manrope';
	font-variation-settings: "wght" 700;
	height: 100vh;
	background-color: $background;
}

img{
	transition: transform .3s;
}

header{
	height: 70px;
	background-color: $main_color;
}

.v-sidebar-menu{
	font-variation-settings: "wght" 500;
}

.vsm--scroll-wrapper{
	padding-top: 70px;
}

#main_content, .header__content{
	transition: padding-left .3s
}

.v-sidebar-menu .vsm--toggle-btn {
	position: absolute;
	height: 70px !important;
}

