.pl-300{
	padding-left: 300px;
}

.pl-85{
	padding-left: 85px;
}

.pl-80{
	padding-left: 80px;
}

.pl-75{
	padding-left: 75px;
}

.w-290{
	width: 290px !important;
}

.w-65{
	width: 65px !important;
}

.trans-540deg{
	transform: rotate(-540deg);
}

.trans-180deg{
	transform: rotate(-180deg);
}

.trans-135deg{
	transform: rotate(-135deg);
}

.tac{
	text-align: center;
}

.mt-10{
	margin-top: 10px;
}

.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.mb-10{
	margin-bottom: 10px;
}